<% include header %>
			<!-- middle area -->
			<div class="row">
				<div class="col-md-4" id="login-box">
					 <form role="form" id="common-welcome-form" method="POST" action="" >
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Username
					</label>
					<input class="form-control" id="loginemail" type="email" name=username placehold="Your email address.."/>
				</div>
				<div class="form-group">
					 
					<label for="exampleInputPassword1">
						Password
					</label>
					<input class="form-control" id="loginpassword" type="password" name=password />
				</div>
								<button type="button" class="btn btn-success btn-lg" id="login-button">
						Login
					</button> 
					<button type="button" class="btn btn-info btn-lg" id="register-button">
						Register
					</button>
			</form>
				</div>
			</div>
			<!-- middle area end -->
			<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
    
<script>
$(document).ready(function(){
    $('#login-button').on('click',function(){
		/*
        var logindata = {username: $('#loginemail').val(), password: $('#loginpassword').val()};

        $.ajax({
            type: 'POST',
            url: '/auth/login',
            data: logindata,
            success: function(res){
                $('body').html(res);
				document.title = "The Chat Project";
            }
            
        });
		*/
		$("#common-welcome-form").attr("action","/auth/login");
		$("#common-welcome-form").submit();
    });
    
    $('#register-button').on('click',function(){

        var logindata = {username: $('#loginemail').val(), password: $('#loginpassword').val()};

        $.ajax({
            type: 'POST',
            url: '/auth/register',
            data: logindata,
            success: function(res){
                $('body').html(res);
            }
            
        });
    });

});
</script>

			<% include footer %>
